<h1>Burger Bucket List</h1>

<h2>Add a New Burger</h2>
<form>
  <label for="new-burger">
    <input id="new-burger" type="text" name="burger" placeholder="Add a Burger">
  </label>
  <button>Add This Burger</button>
</form>

<section id="burger-list">
  <div id="uneaten">
    <h2>Burgers to Try</h2>

  </div>
  <div id="eaten">
    <h2>Burgers I've Eaten</h2>
    
  </div>
</section>

